*.rar
*.o
*.d
*.crf
*.htm
*.dep
*.map
*.bak
*.lnp
*.lst
*.ini
*.iex
*.sct
*.scvd
*.uvguix
*.dbg*
*.uvguix.*
.mxproject
*.hex

*.axf
*.uvoptx
*JLinkLog.txt
*.lyh167

#RTE/
#Templates/
#Examples/
!.map
!*.uvprojx
!*.h
!*.c
!*.ioc
!*.bin
.vscode/